<div class="row gy-4 justify-content-center">
    <% if(posts.length<=0){%>
        <h1>No Posts Posted Yet</h1>
        <% }else{%>

            <div class="col-md-4">
                <div class="posts bg-base rounded-2">
                    <div class="post-img-container">
                        <h5 class="label-category">
                            <%= posts[0]?.category %>
                        </h5>
                        <img src="<%= posts[0]?.image %>" alt="">
                    </div>
                    <div class="post-author-details">

                        <div class="user d-flex align-items-center">
                            <i class='bx bx-user'></i>
                            <h6 class="mb-0">
                                <%= posts[0]?.user?.fullname %>
                            </h6>
                        </div>
                        <div class="date d-flex align-items-center">
                            <i class='bx bx-calendar'></i>
                            <p class="mb-0">
                                <%= posts[0]?.createdAt.toLocaleDateString() %>
                            </p>
                        </div>
                    </div>
                    <h5 class="post-title">
                        <%= posts[0]?.title %>
                    </h5>
                    <p class="post-text">
                        <%= posts[0]?.description %>
                    </p>
                    <a href="/api/v1/posts/<%=posts[0]?._id %>" class="link-custom">read more</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="posts bg-base rounded-2">
                    <div class="post-img-container">
                        <h5 class="label-category">
                            <%= posts[1]?.category %>
                        </h5>
                        <img src="<%= posts[1]?.image %>" alt="">
                    </div>
                    <div class="post-author-details">

                        <div class="user d-flex align-items-center">
                            <i class='bx bx-user'></i>
                            <h6 class="mb-0">
                                <%= posts[1]?.user?.fullname %>
                            </h6>
                        </div>
                        <div class="date d-flex align-items-center">
                            <i class='bx bx-calendar'></i>
                            <p class="mb-0">
                                <%= posts[1]?.createdAt.toLocaleDateString() %>
                            </p>
                        </div>
                    </div>
                    <h5 class="post-title">
                        <%= posts[1]?.title %>
                    </h5>
                    <p class="post-text">
                        <%= posts[1]?.description %>
                    </p>
                    <a href="/api/v1/posts/<%=posts[1]?._id %>" class="link-custom">read more</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="posts bg-base rounded-2">
                    <div class="post-img-container">
                        <h5 class="label-category">
                            <%= posts[2]?.category %>
                        </h5>
                        <img src="<%= posts[2]?.image %>" alt="">
                    </div>
                    <div class="post-author-details">

                        <div class="user d-flex align-items-center">
                            <i class='bx bx-user'></i>
                            <h6 class="mb-0">
                                <%= posts[2]?.user?.fullname %>
                            </h6>
                        </div>
                        <div class="date d-flex align-items-center">
                            <i class='bx bx-calendar'></i>
                            <p class="mb-0">
                                <%= posts[2]?.createdAt.toLocaleDateString() %>
                            </p>
                        </div>
                    </div>
                    <h5 class="post-title">
                        <%= posts[2]?.title %>
                    </h5>
                    <p class="post-text">
                        <%= posts[2]?.description %>
                    </p>
                    <a href="/api/v1/posts/<%=posts[2]?._id %>" class="link-custom">read more</a>
                </div>
            </div>


            <% } %>


</div>